*{
    
    text-align: center;
}
body {
    white-space: auto;
}
h1{
    color:skyblue;
}
ul{
    list-style: none;
}
input{
    width: 40%;
    height: 30px;
    font-size: 20px;
    border-radius: 25px;
}
.addbtn{
    width: 100px;
    height: auto;
    padding: 10px;
border-radius: 25px;
background-color: green;
}
.dltbtn{
    width: 120px;
    height: auto;
    padding: 10px;
border-radius: 25px;
background-color: red;
}
@media only screen and (min-width: 768px) {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        margin-left: 5px;
    }
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
    li {
        flex-wrap: wrap;
    }

    button {
        margin-top: 5px;
        width: 48%;
    }
}