 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
h1{
    color: white;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url('https://wallpapercave.com/wp/wp4289147.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: transparent;
  
}

input{
    width: 250px;
    height: 30px;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
}
button{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background-color: white;
}
a{
    text-decoration: none;
    border: 1px;
    background-color: white;
    width: 200px;
    padding: 5px;
    color: black;
    border-radius: 5px;
}
